.snp input[type="text"]{
    width: 94%;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
    
#coordinateBox1, 
#coordinateBox2{
	width: 46%;
	margin-left: 0px;
	margin-right: 0px;	
}
#coordinateBox1{
	margin-right:1px;
}
#coordinateBox2{
	margin-left:1px;
}
#coordinates{
	margin-left: 5px;
	margin-right: 5px;
}

.internal-input-label{
	color:#bbb;
}

table#l_edu_dfci_cccb_gameon_domain_Snp thead tr th{
	background: none repeat scroll 0% 0% rgb(100, 140, 29)
}
table#l_edu_dfci_cccb_gameon_domain_Snp thead tr th a,
.digitFocused table#l_edu_dfci_cccb_gameon_domain_Snp thead tr th a{
	text-decoration: none;
	/* color:	#456314; dark green */
	color: white; 
}

#l_edu_dfci_cccb_gameon_domain_Snp_processing{
	text-align: center ;	
	/*color: rgb(125, 178, 35); *//*green */
	/*color: blue; */
	color:  rgb(100, 140, 29); /*dar green */
}

#google_login_form{
	margin-bottom: 1em;
}
#google_logo{
	display: block;
	margin-bottom: .7em;
}
div.errors{
	margin-left: 0px;
}
#_title_admin_login_panel_id{
	display: none;
}
